.wrapper {
  width: ...
  margin: 0 auto;
}
.possible_answer  {
    padding: .75em;
}

.possible_answer:hover {
	background: rgba(254, 231, 88, 1);
	cursor: pointer;
    font-weight: bold;
}

.correct-answer, .wrong-answer {
	opacity: .75;
	cursor: pointer;
}

.wrong-answer {
	background: #FF8362;
}

.correct-answer {
    background: #62DA97;
}

.selected {
    opacity: 1;
}

.selected:hover, .correct-answer:hover, .wrong-answer:hover {
	opacity: 1;
}

.how_you_did {
	text-align: center;
	padding: 1em;
	background-color: rgb(254, 231, 88);
	font-weight: bold;
	font-size: 1.25em;
	-webkit-box-shadow: 0px 7px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 7px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 7px 5px rgba(50, 50, 50, 0.65);
}

/*multimedia styling*/

img, .youtube {
	margin-bottom: 1em;
	min-height: 200px;
	max-height: 200px;
}

.possible_answer img {
	max-height: 24em;
}

.question img, .revealed_answer img, .selected img, .correct-answer img, .wrong-answer img {
    max-height: 24em;
    display: block;
}

.videoembed {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.videoembed iframe, .videoembed object, .videoembed embed {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.outil {
  display: inline-block;
  width: 150px ;
  margin: 0 auto ;
}
.avatar {
  width: 80px;
  height: 80px;
  margin: 15px ;
}
.name {
  font-weight: 400 ;
}
.btn-xs {
  float: right;
}
.quiz {
  padding-right: 300px;
  padding-left: 300px;
}
#decisionflow {
  width: 1200px;
  height: 528px;
}
.charte{
  padding-right: 150px;
  padding-left: 150px;
}
#quiz{
  padding-right: 200px;
  padding-left: 200px;
}
p{
  padding-left: 23px;
  padding-right: 23px;
}
h1{
  padding-left: 23px;
}
